html {
	background: #e8e4e0;
	font: 14pt sans-serif;
}
body {
	margin: 1em;
}
#input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	min-height: 20em;
	padding: .5em;
	font: 14pt monospace;
}

#input.collapsed {
	min-height: 5em;
}

#check-submit-button {
	display: block;
	margin: 1em auto;
	padding: .5em 1em;
	font-size: 18px;
}

#stats {
	text-align: center;
	font-style: italic;
}

#output {
	font: 14pt monospace;
}

.severity-notice {
	background: #bbb;
}

.severity-warning {
	background: yellow;
}

.severity-error {
	background: crimson;
	color: white;
}

#common-errors p {
	margin: .4em 0;
	padding: .4em 1em;
	font-style: italic;
}

#intro {
	text-align: center;
}

#intro h1 {
	font-size: 3em;
	margin: .5em;
}

#intro h1 {
	font-size: 2em;
	margin: .5em;
}